*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color:#ffffff;
    width: 100%;
    height: 100%;
}

header{
    background-color: rgba(196, 196, 196, 1);
    width: 100%;
    height: 150px;
    padding: 62px 38px;
}

header li{
    float: left;
    padding: 2px 6px;
    margin-right: 20px;
    font-size: 18px;
    /* background-color: #FFE600; */
}
header p{
    float: right;
    font-size: 22px;
}
header i{
    color: #6201ff;
}

.slaideri{
    width:100%;
    height:400px;
    background-color: rgb(37, 36, 36);

}

.mshobeli{
    background-color: black;
    background-color: #ffffff;
    width: 100%;
    height: 388px;
    padding: 34px;
}
.siaxleebi{
    width: 33.3%;
    height: 348px;
    float: left;
     
}
.erti{
     /* width: 33.3%; */
    background-color: #FF9901;
}
.ori{
    background-color: #FFC700;
}
.sami{
    background-color: #FFE600;
}
surati1{
    width: 100%;
    height: 200px;
}
.mshobeli img{
    width: 100%;
    height: 200px;

}
h3{
    margin: 10px;
}
.mshobeli p{
    margin: 10px;
    font-size: 12px;
    
}
.cont{
    color: rgb(39, 38, 38);
}

footer{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
}
.ufleba{
    width: 200px;
    height: 16px;
    padding: 34px 0 30px 36px;
    font-size: 12px;
}

/* siaxleebis meore gverdi */


 
.back{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin: 13px 48px;
}
.back::before{
    content: "< <  "
}

.tetri{
    width: 100%;
    height: 740px;
    background-color: #ffffff;
    padding: 0 34px;
}

.didi{
    width: 100% ;
    height: 740px;
    background-color: #FF9900;
    padding: 56px 0 0 0;
}
.didi h3{
    color: #000000;
    font-size: 18px;
}

.didi div{
    width: 33.33%;
    height: 200px;
    border: 1px solid #000000;
    float: left;
    margin: 56px 0 36px 0;
}
.statia{
    clear:both;
    font-size: 14px;
    color: #000000;
    margin: 0px 19px 32px 10px ;
}
.news2{
    background-color: #FFC700;
}
.news3{
    background-color: #FFE600;
}
